.header {
    background: #0F1D42;
    height: 150px;
    border-bottom: solid;
    border-color: red;
    border-width: 5px;
  }
  
  .header h3 {
    margin: 20px;
    padding-top: 20px;
    text-align: center;
    color: white;
    font-size: 2rem;
  }
  
  p{
    color: white;
    text-align: center;
  }