.Search{
    background-color: #caccd0d6;
    margin-top: 10px;
    text-align: center;
    height: 55px;
    width: 100%;
  
  }
  input{
  margin-top: 13px;
  text-align: center;
  height: 20px;
  width: 15%;
  }